<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>

<div class="row">
  {{ range (where .Site.RegularPages "Section" "blog")}}
  <div class="column alignfull hastextaligncenter">
    <figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure>
    <h3>{{ .Title }}</h3>
    <p>{{ .PublishDate.Format "January 02, 2006"}}</p>
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" href="{{ .Permalink }}">Read More</a></div>
  </div>
  {{ end }}
</div>
